.wrapper_show {
background-size: cover !important;
background-position: center;
height: 60vh;
display: flex;
justify-content : center;
align-items: center;
margin-bottom: 15px;
}
.content_show {
  width: 1000px;
  text-align: center;
  h2 {
    color: rgb(250,250,250);
    font-size: 45px;
    font-weight: bolder;
    padding-left: 35px;

  }
}
