.wrapper {
background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('cocktail.jpg');
background-size: cover;
background-position: center;
height: 70vh;
display: flex;
justify-content : center;
align-items: center;
margin-bottom: 15px;
}
.content {
  width: 900px;
  text-align: center;
  h2 {
    color: white;
    font-size: 50px;
    font-weight: bolder;

  }
}
